/* reogle COMUNI */
body {
    color: white;
}

.section.portfolio,
.section.contactme {
    color: black;
}

.section.jumbotron,
.section.about {
    background-color: #1abc9c;   
}

.section.header,
.section.footer-down {
    background-color: #2c3e50;
}

.title-portfolio,
.title-about,
.title-contactme {
    font-size: 25px;
    font-weight: bold;
}

li {
    list-style-type: none;
}


/* regole HEADER */
.navbar.navbar-expand-md { 
    background-color: #2c3e50;
    font-weight: bold;
}

.navbar-brand,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link {
    color: white;
}

.navbar-toggler {
    border: 2px solid grey;
}

header {
    font-weight: bold;
}

.leftside-header,
.rightside-header {
    padding: 20px 0;
}

.header.tablet-desktop {
    display: none;
}

@media screen and (min-width:768px) {
    .header.tablet-desktop {
        display: block;
    }

    .header.mobile {
        display: none;
    }
}


/* regole JUMBOTRON */
.title-jumbotron {
    font-size: 30px;
    font-weight: bold;
}

.space-jumbotron {
    font-size: 25px;
}

.info-jumbotron {
    font-size: 14px;
    padding: 15px 0 20px;
}


/* regole PORTFOLIO */
section.portfolio {
    padding: 30px 0;
}

.space-portfolio {
    padding: 15px 0;
}

.photo-portfolio img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}


/* regole ABOUT */
section.about {
    padding: 0 100px;
}

.title-about {
    padding: 20px 0 15px;
}

.space-about {
    margin-bottom: 20px;
}

.paragraph-about {
    margin-bottom: 20px;
}

.button-download input {
    background-color: transparent;
    border-radius: 5px;
    padding: 3px 15px 3px 30px;
    color: white;
    margin-bottom: 30px;
    position: relative;
    right: 15px;
}

.row.about .fa-solid.fa-download {
    position: relative;
    left: 15px;
}

@media screen and (min-width:992px) {
    section.about {
        padding: 0 200px;
    }
}

/* regole CONTACT ME */
.title-contactme {
    padding: 20px 0;
}

.space-contactme {
    margin-bottom: 20px;
}

.col-12.contactme form input,
.col-12.contactme form textarea {
    width: 50%;
    border: none;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
    color: #2d3e50;
    font-weight: bold;
}

.col-7.contactme form input.submit-button {
    background-color: #1abc9c;
    color: white;
    border-radius: 10px;
    width: 70px;
    padding: 8px 0;
    margin-bottom: 30px;
}


/* regole FOOTER-UP */
.section.footer-up {
    background-color: #3a546d;
}


/* regole DEBUG */
/* [class*="col"] {
    background-color: brown;
} */

/* [class*="section"] {
    padding: 0 40px;
} */